body {
  background: white;
  box-sizing: border-box;
}

//************** Repo component **************
.repo {
  display: flex;
  justify-content: auto;
  box-shadow: 4px 4px 5px rgba(54, 54, 54, 0.171);
  border-radius: 9px;
  margin-top: 32px;
  height: 90px;

  .repo-img {
    width: 90px;
    img {
      width: 90px; 
      border-radius: 8px 0 0 8px;
    }
  }

  .repo-info {
    width: 70%;
    position: relative;
    left: 15px;
    top: 10px;

    .star {
      position: relative;
      bottom: 2px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
    
    p {
      font-weight: bold;
      margin-bottom: 0;
    }

    span {
      font-size: 11px;
    }
  }
  
}

.repo-loading-svg {
  display: flex;
  justify-content: center;
  margin-top: 180px;

}
//************** RepoList component **************

.repo-list {
  margin-top: 30px;

  .repo-owner-login {
    h1 {
      text-transform: capitalize;
      display: inline-block;
      margin-left: 10px;
    }
    img {
      width: 120px;
    }
  }
}


//************** Header component **************

.header {
  width: 100%;

  .svg-container {
    margin-top: 30px;
    margin-left: 60px;
    width: 165px;
    height: 37px;
  }

  .header-nav {
    background-color: #fff !important;
    box-shadow: 2px 2px 5px rgba(54, 54, 54, 0.171);
    margin-right: -15px;
    margin-left: -15px;
  }
}

//************** Hero component **************

.hero {
  .hero-img {
    margin-right: -15px;
    margin-left: -15px;
    height: auto;
    img {
      width: 100%;
    }
  }
}

//************** RepoDetails component **************
.repo-details {
  margin-top: 30px;
  .parent-img {
    width: 50px;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
  }

  .content-image {
    margin-right: 15px;
    img {
      width: 15px;
    }
  }

  .fork-info {
    font-size: 9px;
  }

  .details-badges-component {
    // repo star and fork incons ********
    .repo-fork-watcher {
      display: flex;
      justify-content: flex-end;
    }
    // badge component *********
    .repo-badge {
      margin-right: 5px;
      background: #eff3f6;
      padding: 5px;
      font-weight: normal;
      img {
        width: 15px;
        margin-right: 5px;
      }
     
    }

    .repo-info-branch-license-lang {
      span {
        margin-right: 10px;
      }
    }

    .repo-description {
      
      margin-top: 10px;
      p {
        border-top: 1px#e9ecef solid;
        border-left: 1px#e9ecef solid;
        border-right: 1px#e9ecef solid;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: -2px;
        border-radius: 2px;
      }
    }
  }
}


