html {
  position: relative;
  min-height: 100%;
}

body {
  background: white;
  box-sizing: border-box;
  margin-bottom: 140px;
}

//************** Repo component **************//
.repo {
  display: flex;
  justify-content: auto;
  box-shadow: 4px 4px 5px rgba(54, 54, 54, 0.171);
  border-radius: 9px;
  margin-top: 32px;
  height: 90px;

  .repo-img {
    width: 90px;
    img {
      width: 90px; 
      border-radius: 8px 0 0 8px;
    }
  }

  .repo-info {
    width: 70%;
    position: relative;
    left: 15px;
    top: 10px;

    .star {
      position: relative;
      bottom: 2px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
    
    p {
      font-weight: bold;
      margin-bottom: 0;
      font-size: 13px
    }

    span {
      font-size: 11px;
    }
  }

  /* Set mobile styling */
  @media (max-width: 767px) {
    width: 60%;
    margin: auto;
    margin-top: 80px;
    display: block;
    height: 270px;
    box-shadow: 2px 2px 7px 3px rgba(54, 54, 54, 0.171);

    .repo-img {
      width: 100%;
      height: 180px;
      img {
        width: 100%; 
        height: 160px;
        border-radius: 8px 8px 0 0;
      }
    }

    .repo-info {
      width: 100%;
      top: 0px;
      left: 30px;
      
    }
  }

  @media (max-width: 570px) {
    width: 75%;
  }
}

/* loading animation svg*/
.repo-loading-svg {
  display: flex;
  justify-content: center;
  margin-top: 180px;

}
//************** RepoList component **************//

.repo-list {
  margin-top: 30px;

  .repo-owner-login {
    h1 {
      text-transform: capitalize;
      display: inline-block;
      margin-left: 10px;
    }
    .quandoo-link {
      font-size: 10px;
      position: relative;
      text-decoration: none;
      color: inherit;
      left: 40px;
      bottom: 5px;
    }
  }
}


//************** Header component **************//

.header {
  width: 100%;
  
  .svg-container { /* quandoo logo styles*/
    margin-top: 30px;
    margin-left: 60px;
    width: 165px;
    height: 37px;
    @media (max-width: 767px) {
      margin-left: 10px;
    }
  }

  .header-nav {
    background-color: #fff !important;
    box-shadow: 2px 2px 5px rgba(54, 54, 54, 0.171);
    margin-right: -15px;
    margin-left: -15px;
  }
}

//************** Hero component **************//

.hero {
  .hero-img {
    margin-right: -15px;
    margin-left: -15px;
    height: auto;
    img {
      width: 100%;
    }
  }
}


//************** RepoDetails component **************//
.repo-details {
  margin-top: 30px;
  .parent-img {
    width: 50px;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
  }

  .content-image {
    margin-right: 15px;
    img {
      width: 15px;
    }
  }

  .fork-info {
    font-size: 9px;
  }


  .details-badges-component {
    .repo-fork-watcher { /*** Set the styles for repos star and fork icons ***/
      display: flex;
      justify-content: flex-end;
      @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .repo-full-name {
      margin-bottom: 15px;
      font-weight: 600;
    }
    
    .repo-badge { /*** Set the styles for the Badges component ***/
      margin-right: 5px;
      background: #eff3f6;
      padding: 5px;
      font-weight: normal;
      img {
        width: 15px;
        margin-right: 5px;
      }

      @media (max-width: 767px) {
        margin-top: 15px;
      }    
    }

    .repo-info-branch-license-lang {
      span {
        margin-right: 10px;
      }
    }

    .repo-description { /* Set the styles for the description text*/
      margin-top: 10px;
      p {
        border-top: 1px#e9ecef solid;
        border-left: 1px#e9ecef solid;
        border-right: 1px#e9ecef solid;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: -2px;
        border-radius: 2px;
      }
    }
  }
}

/*** Footer component ***/
.footer {
  position: absolute;
  margin-top: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px;
  background-color: #1C1C1C;
  color: #9b9b9b;
}